# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# === MOBILE APP (mobile-app/) ===

# dependencies
mobile-app/node_modules/

# Expo
mobile-app/.expo/
mobile-app/dist/
mobile-app/web-build/
mobile-app/expo-env.d.ts

# Native
mobile-app/.kotlin/
mobile-app/*.orig.*
mobile-app/*.jks
mobile-app/*.p8
mobile-app/*.p12
mobile-app/*.key
mobile-app/*.mobileprovision

# Metro
mobile-app/.metro-health-check*

# debug
mobile-app/npm-debug.*
mobile-app/yarn-debug.*
mobile-app/yarn-error.*

# macOS
mobile-app/.DS_Store
mobile-app/*.pem

# local env files
mobile-app/.env*.local

# typescript
mobile-app/*.tsbuildinfo


# === BACKEND (backend/) ===

# Python byte-compiled / optimized / DLL files
backend/__pycache__/
backend/**/*.py[cod]

# C extensions
backend/**/*.so

# Environment files
backend/.env
backend/.venv/
backend/venv/

# Jupyter Notebook checkpoints
backend/.ipynb_checkpoints/

# VSCode config (optional)
backend/.vscode/

# .env
.env

# seriviceAccountKey
serviceAccountKey.json

# .db
*.db

# chroma_storage
chroma_storage

13k-recipes.csv